nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: #0f0f0f;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  padding-left: 1rem;
}

nav a {
  text-decoration: none;
  color: #ffc106
}
