* {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.row {
    display: flex;
    height: 88%;
    align-items: center;
}

h1 {
    color: #FFC106;
    font-size: 80px;
}

p {
    color: #fff;
    font-size: 11px;
    line-height: 15px;
}
